# Copy this file to .env and choose which profile to use.
# Use "local" for your local PostgreSQL setup or "prod" for the remote DB config.
SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8081
LOGGING_LEVEL_ROOT=DEBUG
# Local profile values.
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/garbo_db
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_DATASOURCE_USERNAME=your_local_db_username
SPRING_DATASOURCE_PASSWORD=your_local_db_password
# Prod profile values.
PROD_SPRING_DATASOURCE_URL=
PROD_SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
PROD_SPRING_DATASOURCE_USERNAME=
PROD_SPRING_DATASOURCE_PASSWORD=
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
